<app-navbar></app-navbar>
<section class="content">
    <div class="container-fluid">
      <div class="row m-t-sm">
        <div class="col-md-15">
            <div class="panel">
                <div class="panel-body">
                    <div class="col-md-12 col-sm-12" id="form" style="display:block;">
                        <div class="panel panel-filled">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12"><h5 class="m-t-xs">Ingreso de Vuelos+</h5></div>
                                </div>
                                <form [formGroup]="vueloForm" (ngSubmit)="editarvuelo()">
                                    <div class="form-group">
                                        <label>Producto</label>
                                        <input type="text" formControlName="numero"
                                            class="form-control" placeholder="Ingresar numero vuelo">
                                        <div class="text-danger"
                                            *ngIf="vueloForm.get('numero')?.hasError('required') && vueloForm.get('numero')?.touched">
                                            <span>El numero de vuelo <strong>es obligatorio</strong></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Origen</label>
                                        <input type="text" formControlName="origen" 
                                            class="form-control" placeholder="Ingresar origen">
                                        <div class="text-danger"
                                            *ngIf="productoForm.get('origen')?.hasError('required') && productoForm.get('origen')?.touched">
                                            <span>El origen <strong>es obligatoria</strong></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Destino</label>
                                        <input type="text" formControlName="Destino" 
                                            class="form-control" placeholder="Ingresar Ubicacion">
                                        <div class="text-danger"
                                            *ngIf="productoForm.get('destino')?.hasError('required') && productoForm.get('destino')?.touched">
                                            <span>El destino <strong>es obligatoria</strong></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>fecha</label>
                                        <input type="number" formControlName="precio" 
                                            class="form-control" placeholder="Ingresar Precio">
                                        <div class="text-danger"
                                            *ngIf="productoForm.get('fecha')?.hasError('required') && productoForm.get('fecha')?.touched">
                                            <span>La fecha <strong>es obligatorio</strong></span>
                                        </div>
                                    </div>
                                    <div  class="col-sm-12 text-right">
                                        <div class="panel-body buttons-margin">
                                           <button type="submit" [disabled]="vueloForm.invalid" class="btn btn-w-md btn-success">Guardar</button>&nbsp;&nbsp;
                                           <button class="btn btn-w-md btn-warning" routerLink="/listar-productos">Cancelar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
      </div>
    </div>
</section>


